run = "python3 run.py"
entrypoint = "run.py"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "run.py"]
deploymentTarget = "cloudrun"

[nix]
channel = "stable-24_05"
